<div class="container-fluid">
        <h1>Register</h1>
    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>
        <label for="Username">Username</label>
        <input type="text"
               ng-model="model.user.username"
               id="Username"
               class="form-control"
               placeholder="John"/>
        <label for="Password">Password</label>
        <input type="password"
               ng-model="model.user.password"
               class="form-control"
               placeholder="*********"
               id="Password"/>
        <label for="V.Password">Verify Password</label>
        <input type="password"
               ng-model="model.user.Vpassword"
               class="form-control"
               id="V.Password"
               placeholder="*********"/>
        <a ng-click="model.register(model.user.username,model.user.password,model.user.Vpassword)" class="btn btn-primary btn-block">
            Register
        </a>
        <a class="btn btn-danger  btn-block"
           href="#!/login">Cancel</a>
    </div>

