
    <div class="container-fluid">
        <h1>Login</h1>
        <div ng-show="model.message" class="alert alert-info">
            {{model.message}}
        </div>
        <label for="username">Username</label>
        <input ng-model="username"
                type="text"
               class="form-control"
               id="username"
               placeholder="John"/>
        <label for="password">Password</label>
        <input ng-model="password"
               type="password"
               id="password"
               class="form-control"
               placeholder="Axis#47B"/>
        <a ng-click="model.login(username, password)" class="btn btn-primary btn-block">
            Login
        </a>
        <a class="btn btn-success btn-block"
           href="#!/register">Register</a>
    </div>
