<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-md-5 col-lg-5">
                <div class="pull-left">
                    <a href="login.view.client.html" class="navbar-link navbar-text pull-left margin-r">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                    </a>
                    <a href="#!/profile" class=" navbar-text pull-right">
                        Profile
                    </a>
                </div>
            </div>
            <div class="col-md-5 col-lg-5 visible-md visible-lg">
            </div>
            <div class="col-xs-2 col-md-2 col-lg-2">
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateUser(model.user)" class="navbar-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
        <div class="container-fluid">
            <div ng-show="model.message" class="alert alert-info">
                {{model.message}}
            </div>
            <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" ng-model="model.user.username" class="form-control" id="username" placeholder="John">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" value={{model.user.email}} class="form-control" id="email" placeholder="John@gmail.com">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" ng-model="model.user.firstName" class="form-control" id="first-name" value={{model.user.firstName}} placeholder="John">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" ng-model="model.user.lastName" class="form-control" id="last-name" value="model.user.lastName" placeholder="Paul">
            </div>
        </form>

        <a class="btn btn-primary btn-block"
           href="#!/user/{{model.user._id}}/website">Websites</a>
        <a class="btn btn-danger  btn-block"
           href="#!/login">Logout</a>
    </div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            </div>
            <div class="col-sm-2 col-md-2">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}/website" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>