<div ng-switch="model.widget.widgetType">
    <div ng-show="model.message" class="alert alert-danger" role="alert">
        {{model.message}}
    </div>

    <div ng-switch-when="HEADING">
        <ng-include src="'/assignment/Assignment-4/views/widget/templates/widget-heading.view.client.html'">
    </div>

    <div ng-switch-when="IMAGE">
        <ng-include src="'/assignment/Assignment-4/views/widget/templates/widget-image.view.client.html'">
    </div>

    <div ng-switch-when="YOUTUBE">
        <ng-include src="'/assignment/Assignment-4/views/widget/templates/widget-youtube.view.client.html'">
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'/assignment/Assignment-4/views/widget/templates/widget-html.view.client.html'">
    </div>
</div>

<!--<div ng-include="model.getWidgetUrlForType(widget.widgetType)"></div>-->