
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
             <div class="col-xs-10 col-md-5 col-lg-5">
                 <div class="pull-left">
                <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-left margin-r">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a href="#!/user/{{model.uid}}/website" class=" navbar-text pull-right">
                    Websites
                </a>
                 </div>
             </div>
            <div class="col-md-5 col-lg-5 visible-md visible-lg">
                <p class="navbar-text">
                    <a href="#!/user/{{model.uid}}/website" class="navbar-link">
                        Description
                    </a>
                </p>
            </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.uid}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
        </div>
    </div>
</nav>

    <div ng-repeat="website in model.websites" class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-5 col-lg-5">
                <p class="pull-left">
                    <a href="#!/user/{{model.uid}}/website/{{website._id}}/page" class="blue-text"> {{website.name}}
                    </a>
                </p>
            </div>
            <div class=" hidden-xs hidden-sm col-md-2 col-lg-2 visible-md visible-lg">
                    <a class="blue-text">
                        {{website.description}}
                    </a>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-5 col-lg-5">
            <a href="#!/user/{{model.uid}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </div>
        </div>
    </div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            </div>
            <div class="col-sm-2 col-md-2">
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.uid}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
